
<div class="d-flex justify-content-center align-items-center " style="height:100vh;" >

    <h1 style="color: brown;">WELCOME TO STARBOY FASHION</h1>

    <h3>Your account successfully verified</h3>

    <h3><a href="/login">CLICK HERE TO LOGIN</a></h3>


</div>